{% extends 'template_base.html' %}

{% block contenu %}
    <br>
    <h1 class="detailLocation">Ajouter une location</h1>
    <br>
    <form action="" method="POST">
       {%  csrf_token %}

    <p style="margin-left: 22%">Statut : {{ formLocation.loc_statut }}</p>
    <br>
    <p style="margin-left: 22%"> Client : {{ formLocation.loc_client }} &nbsp; &nbsp; &nbsp; &nbsp; <a href="{% url 'client:nouveauClient'%}" class="btn btn-primary" role="button" aria-pressed="true">Nouveau client</a> </p>
    <br>
    <p style="margin-left: 22%">Date de debut : {{ formLocationVelo.date_debut }}</p>
    <br>
    <p style="margin-left: 22%">Date de fin : {{ formLocationVelo.date_fin }}</p>
    <br>
    <p style="margin-left: 22%">Velo choisis : {{ formLocationVelo.lv_vel_id }}</p>
    <br>
    <input type="submit" value="Envoyer" class="btn btn-primary" style="margin-left: 45%">
    </form>


{% endblock contenu %}
